<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Stock Insights</title>

    <style>
        h1{
            color: #22CBCF;
            text-align: center;
        }
        h2{
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Articles mentioning your tracked stocks </h1><br/>
    {% set count = namespace(i=0) %}
    {% for symbol in symbols %}
    <h2>{{symbol}} - {{companyName[count.i]}} - {{exchange[count.i]}}</h2>
    <p>{{summary[count.i]}}<br/><br/>
    </p>
        {% set count.i = count.i + 1 %}
    {% endfor %}
</body>
</html>